.Header {
    margin: 0;
    color: #28a6d3;
    font-size: 48px;
  font-weight: 500;
}

.SubHeader {
    margin: 0;
    color: black;
    font-size: 30px;
  font-weight: 500;
}

.Invalid {
    display: block;
    color: red;
}

.Valid {
    display: none;
}