.LoginLayout {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.Background {
    background: url("../../../assets/background/background-login.png") no-repeat;
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 100%;
    background-position: center;
}

.Footer {
    height: 50px;
    width: 100%;
    background-color: #5e514d;
    position: absolute;
    display: flex;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    .Word {
        color: white;
        font-size: 11px;
        margin-left: 42px;
    }
    .IconContent {
        height: 50%;
        margin-right: 42px;
        svg {
            height: 100%;
            margin-left: 26px;
        }
    }
}