.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
}