.Button {
    width: 350px;
    color: white;
    height: 50px;
    font-size: 24px;
    background: #5e514d;
    border: 1px solid #5e514d;
    border-radius: 24px;
    margin: 8px 0;
    cursor: pointer;
    outline: none;
}